* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: transparent;
    background: url("../images/water_top2.jpg") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    opacity: 1;
    align-items: center;
    z-index: 1;
}

#well {
    opacity: .5;
    position: relative;
    width: 100vw;
    height: 100vh;
    position: center center fixed;
    display: block;
    z-index: 1;
}

.drop-button {
    display: none;
    /* background:#007BFF;
    border: 0; */
    cursor: pointer;
    /* font-size: 2rem;
    opacity: .9;
    font-weight: medium;*/
    height: 4rem;
    opacity: .95;
    width: 16rem;

    z-index: 2;
    position: fixed;
    align-items: center;
    text-align: center;

    bottom: 5%;
    right: 40%;

    border-radius: 1rem;
    box-shadow: 0px -1px 1px 1px ghostwhite;
}

body:hover button {
    display: block;
}


.drop-button__text {
    font-size: larger;
    position: relative;
    transition: opacity 100ms linear 500ms;
    z-index: 2;
}