:root {
  --face: #be9d66;
  --lowlight: #111;
  --side: #896c3b;
  --side-dark: #120e08;
  --coin-size: 3rem;
  --coin-face: url('../images/coin.jpg');

  --red-glow:rgb(0, 0, 0);
  --yellow-flame:rgb(80, 80, 72);
}

.coin {
  opacity: 1;
  position: fixed;
  display: block;
  height: var(--coin-size);
  width: var(--coin-size);
  border-radius: 50%;
  background-color: var(--face);
  background-image: var(--coin-face);
  background-size: 100% 100%;
  background-position: center;
  background-blend-mode: overlay;
  z-index: 2;
}


.coin_static {
  display: block;
  opacity: 1;
  z-index: 1;
  box-shadow: 0px -2px 2px 2px black;
  /* -webkit-animation: cube-top-flash 1s infinite both; */
  /* animation: cube-top-flash 1s infinite both; */
}

.coin.drop-coin {
  border: wheat solid;
  display: block;
  z-index: 3 !important;
  box-shadow: 0px -8px 8px 8px black;
  animation:
  flip .7s  linear .1s 1 both,
  shrink .7s linear 0s 1 both;
}

.coin.silver.drop-coin {
  border: wheat solid;
  display: block;
  z-index: 3 !important;
  box-shadow: 0px -8px 8px 8px black;
  animation:
  flip .7s  linear .1s 1 both,
  shrink .7s linear 0s 1 both;
}
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

.transformed {
  -webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Chrome, Safari, Opera */
  transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2); /* Standard syntax */
}

.coin.copper {
  filter:
    hue-rotate(-40deg) brightness(0.75) contrast(115%);
  animation-delay: -0.25s;
}

.coin.silver {
  filter: saturate(0);
  animation-delay: -0.5s;

}

.coin.spin::after {
  animation: spin 1s linear infinite;

}

.coin.flip::after{
  animation: flip 1s linear infinite;
}

.coin.copper::before {
  filter:
    hue-rotate(-40deg) brightness(0.75) contrast(115%);
  animation-delay: -0.25s;
}

.coin.silver::before {
  filter: saturate(0);
  animation-delay: -0.5s;
}

@keyframes cube-top-flash {
  from, 50%, 62%, to {
    opacity: 1
  }
  60% {
    opacity: .5;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(10%);
  }
}

@keyframes spin {
  0% {
    width: 9rem;
    box-shadow:
      0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    width: 0.1rem;
    box-shadow:
      0.05rem 0 0 var(--side),
      0.1rem 0 0 var(--side),
      0.15rem 0 0 var(--side),
      0.2rem 0 0 var(--side),
      0.25rem 0 0 var(--side),
      0.3rem 0 0 var(--side),
      0.35rem 0 0 var(--side),
      0.4rem 0 0 var(--side),
      0.45rem 0 0 var(--side),
      0.5rem 0 0 var(--side),
      0.55rem 0 0 var(--side),
      0.6rem 0 0 var(--side),
      0.65rem 0 0 var(--side),
      0.7rem 0 0 var(--side),
      0.75rem 0 0 var(--side);
    transform: translateX(-0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    width: 0.1rem;
    box-shadow:
      -0.05rem 0 0 var(--side),
      -0.1rem 0 0 var(--side),
      -0.15rem 0 0 var(--side),
      -0.2rem 0 0 var(--side),
      -0.25rem 0 0 var(--side),
      -0.3rem 0 0 var(--side),
      -0.35rem 0 0 var(--side),
      -0.4rem 0 0 var(--side),
      -0.45rem 0 0 var(--side),
      -0.5rem 0 0 var(--side),
      -0.55rem 0 0 var(--side),
      -0.6rem 0 0 var(--side),
      -0.65rem 0 0 var(--side),
      -0.7rem 0 0 var(--side),
      -0.75rem 0 0 var(--side);
    transform: translateX(0.375rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    width: 4rem;
    box-shadow:
      0 0 0 var(--side-dark);
  }
}

@keyframes flip {
  0% {
    height: 9rem;
    box-shadow:
      0 0 0 var(--side-dark);
    animation-timing-function: ease-in;
  }

  49.999% {
    height: 0.1rem;
    box-shadow:
      0 0.05rem 0 var(--side),
      0 0.1rem 0 var(--side),
      0 0.15rem 0 var(--side),
      0 0.2rem 0 var(--side),
      0 0.25rem 0 var(--side),
      0 0.3rem 0 var(--side),
      0 0.35rem 0 var(--side),
      0 0.4rem 0 var(--side),
      0 0.45rem 0 var(--side),
      0 0.5rem 0 var(--side),
      0 0.55rem 0 var(--side),
      0 0.6rem 0 var(--side),
      0 0.65rem 0 var(--side),
      0 0.7rem 0 var(--side),
      0 0.75rem 0 var(--side),
      0 0.8rem 0 var(--side),
      0 0.85rem 0 var(--side)
      0 0.9rem 0 var(--side);
    transform: translateY(-0.45rem);
    background-color: var(--lowlight);
    animation-timing-function: linear;
  }

  50.001% {
    height: 0.1rem;
    box-shadow:
      0 -0.05rem 0 var(--side),
      0 -0.1rem 0 var(--side),
      0 -0.15rem 0 var(--side),
      0 -0.2rem 0 var(--side),
      0 -0.25rem 0 var(--side),
      0 -0.3rem 0 var(--side),
      0 -0.35rem 0 var(--side),
      0 -0.4rem 0 var(--side),
      0 -0.45rem 0 var(--side),
      0 -0.5rem 0 var(--side),
      0 -0.55rem 0 var(--side),
      0 -0.6rem 0 var(--side),
      0 -0.65rem 0 var(--side),
      0 -0.7rem 0 var(--side),
      0 -0.75rem 0 var(--side)
      0 0.8rem 0 var(--side),
      0 0.85rem 0 var(--side)
      0 0.9rem 0 var(--side);
    transform: translateY(0.45rem);
    background-color: var(--lowlight);
    animation-timing-function: ease-out;
  }

  100% {
    height: 9rem;
    box-shadow:
      0 0 0 var(--side-dark);
  }
}

@keyframes shrink {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.25);
  }
}